
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<section class="createtree" id="createtree">
<div class="row1">
    <div class="col-1">
        
            <div class="createBox">
                <form action="/api/users" method="POST" id="add_user">    
                    <div class="titleText"><span>H</span>elp us reach you.</div>
                    <div class="form-group">
                        <input type="hidden" name="id" value="">
                        <input type="text" class="form_input" name="name" value="" placeholder="" >
                        <label for="name" class="form_label">Name</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form_input" name="email" value="" placeholder="">
                        <label for="Email" class="form_label">Email</label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="contact" class="form_input" value="" placeholder="">
                        <label for="contact" class="form_label">Contact Number</label>
                    </div>
                    <div class="form-group">
                        <input type="textarea" name="address" class="form_input" value="" placeholder="">
                        <label for="Address" class="form_label">Your message</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form__button">Save</button>
                    </div>    
                </form>
            </div>
        </div>

    <div class="col-2">
            <img src="/img/reach.png" class="musicimg">
    </div>
</div>
</section>
    
    <!-- include footer -->
    <%- include('include/_footer') %>
    <!-- /include footer -->
    