<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<section class="consult">
    <div class="row1">
        <div class="col-1">
            <h2>DEEJAL GAADI - KS Abhishek</h2>
            <p>Let's go for a ride! </p>
            <div class="music-link">
                <img class="music-service-list" src="https://services.linkfire.com/logo_applemusic_onlight.svg">
                <button type="button"><a href="https://music.apple.com/in/album/deejal-gaadi-feat-naani-sukanya-chattopadhyay-single/1563818224"> Play </a></button>
            </div>
            <div class="music-link">
                <img class="music-service-list" src="https://services.linkfire.com/logo_spotify_onlight.svg">
                <button type="button"><a href="https://open.spotify.com/track/2eiHjTrEeorwXODRA24Nq2?si=8q5dix8tTfqM8LJFQRjzaQ&utm_source=copy-link">Play</a></button>
            </div>
            <div class="music-link">
                <img class="music-service-list" src="https://services.linkfire.com/logo_amazonmusic_onlight.svg">
                <button type="button"><a href="https://music.amazon.com/albums/B092XK2D8D?marketplaceId=ATVPDKIKX0DER&musicTerritory=US">Play</a></button>
            </div>
            <div class="music-link">
                <img class="music-service-list" src="/img/soundcloud.svg">
                <button type="button"><a href="https://m.soundcloud.com/ksabhishek/deejal-gaadi-feat-naani?id=1037860057">Play</a> </button>
            </div>
        </div>
        <div class="col-2">
            <img src="/img/1.jpeg" class="musicimg">
        </div>
    </div>

</section>

<div class="copyrightText">
    <p>Copyright 2021 <a href="#">KS Abhishek</a>. All Right Reserved</p>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->