<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<section class="consult">
    <div class="row1">
        <div class="col-1">
            <h2>Mixing and Mastering</h2>
            <p>At Kavita Production, We have a slight obsession with being the best in the music mixing - mastering business.
                    We have created an environment where precision, passion, creativity and skill that come together to push sonic
                    boundaries to new heights. Today, Our focus on continuing to perfect the art of mastering audio, striving to 
                    ensure total sonic satisfaction to both himself and to others who choose to listen without compromise.
                    At Kavita Productions Mix - Mastering Lab, we can help transform your music ,so it’s at its finest when you 
                    ultimately present it to the listening world which never heard before. </p>
            <button type="button"> Book Now <img src="/img/arrow1.png"></button>
        </div>
        <div class="col-2">
            <img src="/img/mixing.png" class="musicimg">
        </div>
    </div>

</section>




<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->