<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<div class="musicmain">
    <div class="container">
        <div class="card">
            <div class="imgbx">
                <img src="/img/1.jpeg">
            </div>
            <div class="content">
                <h2>DEEJAL GAADI - KS Abhishek</h2>
                <p>Let's go for a ride! </p>
                <a href="/nani-song" class="blog-slider__button">Streaming Now</a>
            </div>
        </div>
        <div class="card">
            <div class="imgbx">
                <img src="/img/2.jpeg">
            </div>
            <div class="content">
                <h2>The Naani Song - KS Abhishek</h2>
                <p>The coolest NAANI is here! I got inspiration to make this song after hearing a traditional bhajan</p>
                <a href="/nani-song" class="blog-slider__button">Streaming Now</a>
            </div>
        </div>
    </div>
</div>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer --