<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<section class="consult">
    <div class="row1">
        <div class="col-1">
            <h2>The Naani Song - KS Abhishek</h2>
            <p>The coolest NAANI is here! I got inspiration to make this song after hearing a traditional bhajan which my naani used to sing during celebrations in our village during festivals. The aim was to fuse electronic sound and folk melody to create something interesting for the listeners.</p>
            <div class="music-link">
                <img class="music-service-list" src="https://services.linkfire.com/logo_applemusic_onlight.svg">
                <button type="button"><a href="https://music.apple.com/in/album/the-naani-song-single/1517904310"> Play </a></button>
            </div>
            <div class="music-link">
                <img class="music-service-list" src="https://services.linkfire.com/logo_spotify_onlight.svg">
                <button type="button"><a href="https://open.spotify.com/track/74IinPT5MUEx90zNUguaSL?si=Cyc3HVxITVS9MeBi0f74Ug&utm_source=copy-link">Play</a></button>
            </div>
            <div class="music-link">
                <img class="music-service-list" src="https://services.linkfire.com/logo_amazonmusic_onlight.svg">
                <button type="button"><a href="https://music.amazon.com/albums/B08B1WX2FD?marketplaceId=ATVPDKIKX0DER&musicTerritory=US">Play</a></button>
            </div>
            <div class="music-link">
                <img class="music-service-list" src="/img/soundcloud.svg">
                <button type="button"><a href="https://m.soundcloud.com/ksabhishek/the-naani-song?id=842499427">Play</a> </button>
            </div>
        </div>
        <div class="col-2">
            <img src="/img/2.jpeg" class="musicimg">
        </div>
    </div>

</section>

<div class="copyrightText">
    <p>Copyright 2021 <a href="#">KS Abhishek</a>. All Right Reserved</p>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->