<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="swiper-img">
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/img/nature-1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/img/nature-2.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/img/nature-3.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/img/nature-4.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/img/nature-5.jpg" />
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



<div class="copyrightText">
    <p>Copyright 2021 <a href="#">Kavita Production</a>. All Right Reserved</p>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->