<div class= "social">
    <div class = "socialButton">
        <div class = "icon">
            <a href="https://www.facebook.com/KSAbhiMusic/"><i class="fab fa-facebook-f"></i></a>
        </div>
        <span>Facebook</span>
    </div>
    <div class = "socialButton">
        <div class = "icon">
            <i class="fab fa-twitter"></i>
        </div>
        <span>Twitter</span>
    </div>
    <div class = "socialButton">
        <div class = "icon">
            <a href="https://instagram.com/ksabhimusicofficial?igshid=78aawi0c1kg7">
            <i class="fab fa-instagram"></i></a>
        </div>
        <span>Instagram</span>
    </div>
    <div class = "socialButton">
        <div class = "icon">
            <a href="https://youtube.com/channel/UC8SOgr6BBefw0GcSTEZPm7g">
            <i class="fab fa-youtube"></i></a>
        </div>
        <span>Youtube</span>
    </div>
</div>

<div class="copyrightText">
    <p>Copyright 2021 <a href="#">KS Abhishek</a>. All Right Reserved</p>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>